--title Domainic::Attributer
--readme README.md
--no-private
--protected
--markup markdown
--markup-provider redcarpet
--embed-mixins
--tag rbs
--hide-tag rbs
--files CHANGELOG.md,LICENSE,docs/USAGE.md
'lib/**/*.rb'
